<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Tab</title>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <div id="app">
    <div class="background blur" style="background-image: url('bg/2405.jpeg')"></div>
    <div class="content">
      <div class="search-bar">
        <input v-model="query" type="text" class="search-input" placeholder="Search" @keyup.enter="search">
      </div>

      <div class="fav-list">
        <a class="fav-box" v-for="item in favList" :href="item.url">
          <!-- <img class="icon" :src="item.url + '/favicon.ico'"> -->
          <div class="icon">{{item.title.substring(0,2)}}</div>
          <p class="title">{{item.title}}</p>
        </a>
      </div>
    </div>
  </div>

  <script src="lib/Vue.js"></script>
  <script src="app.js"></script>
</body>
</html>