body {
  background: url('https://cdn.jsdelivr.net/gh/MobiusBeta/assets/images/BG_A_Default_1.jpg')
}
.search-bar {
  padding: 50px;
  text-align: center;
}
.search-bar .search-input {
  width: 530px;
  height: 44px;
  border-radius: 30px;
  border: 0;
  outline: 0;
  text-align: center;
  font-size: 20px;
  box-shadow: rgb(0 0 0 / 20%) 0 0 10px;
}