body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.background.blur {
  filter: blur(10px);
  transform: scale(1.1);
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.search-bar .search-input {
  margin: 0 auto;
  width: 530px;
  height: 44px;
  border-radius: 30px;
  border: 0;
  outline: 0;
  text-align: center;
  font-size: 20px;
  box-shadow: rgb(0 0 0 / 20%) 0 0 10px;
}

.fav-list {
  margin: 50px auto 0;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}

.fav-list .fav-box {
  cursor: pointer;
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 80px;
  text-decoration: none;
}
.fav-list .fav-box .icon {
  margin: 0 auto;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  color: #000;
}

.fav-list .fav-box .title {
  margin-top: 10px;
  text-align: center;
  color: #fff;
}